//COLORES
$verde: rgb(18, 182, 100);
$rosa: #f53756;
$amarillo: #f1e312;
$morado: #752f97;
$negro: #000;
$negroClaro: #1f064e;
$blanco: #fff;
$rojo: #bb1515;
$azul: #003153;

//FUENTES
$fuentePrincipal: "Montserrat", sans-serif;

//MEDIAQ
$telefono: 480px;
$tablet: 768px;
$dektop: 992px;
$desktopXL: 1200px;
